/* Общие */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    /* MAIN */
    --main-grey: #F2F2F2;
    --main-blue:#3F7C9E;
    --main-blue-dark:#062644;
    --main-blue-light: #B5CDE3;
    --main-pink-light: #E3B5B5;
    --main-pink: #EB9898;

    /* BG */
    --bg-white: #ffffff;
    --bg-light: #F2F2F2;


    /* STROKE */
    --str-grey: #F2F2F2;
    --str-dark-grey: #dbe5f0;
    /* --str-dark-grey: #d5d6d8; */

    /* ТЕКСТ */
    --text-black: #000000;
    --text-white: #ffffff;
    --text-blue: #3F7C9E;
    --text-grey: #A8A8A8;

    /* GAPы */
    --gap8: 8px;
    --gap12: 12px;
    --gap16: 16px;
    --gap24: 24px;
    --gap32: 32px;

    /*  BTN */
    /* Primary */
    --btn-pr-bg: #062644;
    --btn-pr-t: #ffffff;
    --btn-pr-bgh: #3F7C9E;
    --btn-pr-th: #ffffff;
    --btn-pr-bgcl: #285873;
    --btn-pr-tcl: #ffffff;

    /* Secondary */
    --btn-sec-bg: #F2F2F2;
    --btn-sec-t: #3F7C9E;
    --btn-sec-bgh: #E3B5B5;
    --btn-sec-th: #ffffff;
    --btn-sec-bgcl: #EB9898;
    --btn-sec-tcl: #ffffff;
}


/* ТЕКСТ И ССЫЛКИ */

a, p, ul, li, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--text-black);
}

@media (max-width: 600px) {
    p {
        font-size: 14px;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    p {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    p {
        font-size: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    p {
        font-size: 17px;
    }
}

/*  BTN КНОПКИ */

.btn {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--btn-pr-bg);
    border: none;
    border-radius: 30px;
    color: var(--btn-pr-t);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    text-align: center;
    padding: 18px 38px 17px 38px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .btn {
        font-size: 16px;
        padding: 12px 24px 13px 24px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .btn {
        font-size: 17px;
        padding: 15px 30px 14px 30px;
    }
}

.btn:hover {
    background-color: var(--btn-pr-bgh);
    transition: all 300ms linear;
}

.btn:active {
    background-color: var(--btn-pr-bgcl);
    color: var(--btn-pr-tcl);
    transition: all 200ms linear;
}

.btn-sec {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--btn-sec-bg);
    border: none;
    border-radius: 30px;
    color: var(--btn-sec-t);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    text-align: center;
    padding: 18px 38px 17px 38px;
    cursor: pointer;  
}

.btn-sec:hover {
    background-color: var(--btn-sec-bgh);
    color: var(--btn-sec-th);
    transition: all 300ms linear;
}

.btn-sec:active {
    background-color: var(--btn-sec-bgcl);
    color: var(--btn-pr-tcl);
    transition: all 200ms linear;
}


/* РАЗМЕРЫ КНОПОК - normal по умолчанию */

.large {
    font-size: 20px;
    padding: 19px 32px 21px 32px;
}

.normal {
    font-size: 20px;
    padding: 15px 32px 17px 32px;
}

.medium {
    font-size: 16px;
    padding: 13px 32px 15px 32px;
}

.small {
    font-size: 14px;
    padding: 13px 24px 11px 24px;
}

.extrasmall {
    font-size: 14px;
    padding: 7px 24px 9px 24px;
}


/* ЗАГОЛОВКИ */

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    color: var(--text-black);
}

@media (max-width: 200px) {
    h1 {
        font-size: 28px;
        text-align: center;
    }
}

@media (min-width: 200px) and (max-width: 320px) {
    h1 {
        font-size: 34px;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    h1 {
        font-size: 40px;
        text-align: center;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 54px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 62px;
    }
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: var(--text-black);
    text-align: center;

    padding-top: 80px;
    padding-bottom: 50px;
}

@media (max-width: 200px) {
    h2 {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

@media (min-width: 200px) and (max-width: 320px) {
    h2 {
        font-size: 24px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    h2 {
        font-size: 30px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h2 {
        font-size: 40px;
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        padding-top: 70px;
        padding-bottom: 40px;
    }
}


/* CONTAINER */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - 20px);
    }
}


/* ДРУГИЕ СВОЙСТВА */

.cntr-alignment {
    margin: 0px auto;
    display: block
}

img {
    display: block;
}

/* Каталог книг */

.bg-grey {
    background-color: var(--bg-light);
}

.text-list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 80px 0px;
}

@media (max-width: 600px) {
    .text-list {
        gap: 24px;
        padding: 40px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-list {
        gap: 32px;
        padding: 60px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text-list {
        gap: 36px;
        padding: 70px 0px;
    }
}

.text-description {
    text-align: right;
    color: var(--text-grey);
}

@media (max-width: 600px) {
    .text-description {
        text-align: center;
    }
}

.book-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 40px 0px; */
    /* gap: var(--gap24); */
}

@media (max-width: 600px) {
    .book-list {
        flex-direction: column;
        /* padding: 20px 0px; */
    }
}

.book-item {
    /* width: calc((100% - var(--gap24)*3)/4); */
    width: calc(100%/4);

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

    border-bottom: 1px solid var(--str-dark-grey);
    border-right: 1px solid var(--str-dark-grey);
}

@media (max-width: 600px) {
    .book-item {
        width: calc(100%);
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
    
        border-right: 0px solid var(--str-dark-grey);
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .book-item {
        /* width: calc((100% - var(--gap24)*1)/2); */
        width: calc(100% / 2);
    }
}

@media (min-width: 600px) and (max-width: 960px) {
    .book-item:nth-child(2n) {
        border-right: 0px solid var(--str-dark-grey);
    }
}

@media (min-width: 960px) and (max-width: 1280px) {
    .book-item {
        /* width: calc((100% - var(--gap24)*2)/3); */
        width: calc(100% / 3);
    }
}

@media (min-width: 960px) and (max-width: 1280px) {
    .book-item:nth-child(3n) {
        border-right: 0px solid var(--str-dark-grey);
    }
}

@media (min-width: 1280px) {
    .book-item:nth-child(4n) {
        border-right: 0px solid var(--str-dark-grey);
    }
}

.img-books {
    object-fit: cover;
    /* display: inline-block;
    flex-shrink: 0; */
    /* width: 100%; */
    width: auto;
    height: auto;
}

@media (max-width: 273px) {
    .img-books {
        width: 100%;
    }
}

.date-text {
    font-size: 12px;
    color: var(--text-grey);
    padding-top: 20px;
    text-align: left;
}

@media (max-width: 600px) {
    .date-text {
        padding-top: 10px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .date-text {
        padding-top: 16px;
    }
}

.book-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--text-black);
    padding-top: 10px;
    text-align: left;
}

@media (max-width: 600px) {
    .book-title {
        font-size: 18px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .book-title {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .book-title {
        font-size: 22px;
    }
}

.author-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    padding-top: 10px;
}

.book-author {
    background-color: var(--main-blue-light);
    border-radius: 30px;
    color: var(--text-white);
    padding: 6px 12px;
    font-weight: 500;
    font-size: 12px;
}

.button-list {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 600px) {
    .button-list {
        padding-top: 16px;
        gap: 8px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .button-list {
        padding-top: 22px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .button-list {
        padding-top: 26px;
    }
}